@import url("./vendor.css");

:root {
  --primary: #14558f;
  --accent: #f5c436;
  /* --background-grey: #f2f2f2; */
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.nav-bar {
  display: flex;
  padding: 0 12em;
  background-color: var(--primary);
}

.nav-bar .logo {
  /* margin: 0 0 0 12em; */
  object-fit: contain;
  width: 80px;
  height: 100%;
}

.logo__container {
  flex: 2.5;
}

.links__container {
  margin: 0;
  display: flex;
  flex: 3;
  justify-content: space-between;
}

.nav-bar__item {
  padding: 1.6em 0;
  position: relative;
  list-style-type: none;
  color: #baccdd;
}

.nav-bar__item hr {
  margin: 0;
  position: absolute;
  bottom: 0;
  height: 0.25em;
  background-color:#fff;
  width: 100%;
  visibility: hidden;
}

.nav-bar__item:hover hr, .nav-bar__item a.active + hr {
 visibility: visible;
}

.nav-bar__item:hover a, .nav-bar__item a.active{
  color: #fff;
}


main.main {
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  /* grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); */
  /* grid-template-rows: 10vw 30vw 10vw; */
  grid-gap: 5px;
  max-width: calc(100% - 5em);
}

.main > .container {
  grid-column: 2 / span 8;
}

.footer {
  background-color: var(--primary);
  border-top: 1px solid #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 1.4rem 0;
}

.footer img {
  margin-left: 0.5rem;
}

.footer a {
  color: #ffffff;
}