.card__container {
  display: flex;
  margin:  auto 6rem;
}

.title__container {
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 6rem;
}

.card {
  border: 2px solid var(--primary);
  flex: 1;
  margin: 0 0.6em;
  border-radius: 2px;
  padding: 1em 1.5em 6em 1.5em;
  background-color: #fff;
}

.h3 {
  margin-top: 2px;
  color: var(--primary);
}

.underline {
  border: 1px solid var(--accent);
  width: 30%;
}

.title {
  width: 10rem;
}

.title__container h5 {
  margin-top: 0.5rem;
  font-size: 1rem;
  color: rgb(128, 128, 128);
}

.logo {
  height: 1em;
}