.App {
  text-align: center;
}

.App-logo {
  /*animation: App-logo-spin infinite 20s linear;*/
  height: 80px;
}

/*.App-header {
  background-color: #222;
  height: 70px;
  padding-top: 100px;
  padding-left: 20px;
  color: white;
}*/

.App-title {
  background-color: #222;
  font-size: 1.5em;
  text-align: left;
  float: left;
  padding-top: 50px;
  padding-left: 20px;
  color: white;
}

.App-title1 {
  font-size: 1.0em;
  color: white;
  float: left;
  text-align: left;
  padding-left: 20px;
  width: 100%;
  background-color: #222;
  height: 50px;
}

.App-intro {
  padding: 10px;
  font-size: large;
}

.asse {
  padding: 10px;
  font-size: xx-large;
}

.Assess {
  padding: 10px;
  padding-bottom: 20px;
}

.prep {
  padding: 10px;
  padding-bottom: 20px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

