.App {
  text-align: center;
  padding-top: 0;
}

.App-logo {
  /*animation: App-logo-spin infinite 20s linear;*/
  height: 80px;
}

/*.App-header {
  background-color: #222;
  height: 70px;
  padding-top: 100px;
  padding-left: 20px;
  color: white;
}*/

.App-title {
  background-color: #222;
  font-size: 1.5em;
  text-align: left;
  float: left;
  padding-top: 50px;
  padding-left: 20px;
  color: white;
}

.App-title1 {
  font-size: 1.0em;
  color: white;
  float: left;
  text-align: left;
  padding-left: 20px;
  width: 100%;
  background-color: #222;
  height: 50px;
}

.App-intro {
  padding: 10px;
  font-size: large;
}

.asse {
  font-size: 40px;
  align-content: center;
  width: 100%;
  float: center;
}

.Assess {
  padding: 1px;
  padding-bottom: 20px;
}

.prep {
  padding: 150px;
  padding-bottom: 20px;
  width: 100%;
  height: 100vh;
  justify-content: center;
  font-weight: normal;
  background-color: #eee;
  font-family: sans-serif;
  font-size: 30px;
}

.prepX {
  padding: 150px;
  padding-bottom: 20px;
  width: 100%;
  height: 100%;
  justify-content: center;
  font-weight: normal;
  background-color: #eee;
  font-family: sans-serif;
  font-size: 30px;
}

.prep1 {
  padding-left: 150px;
  padding-right: 150px;
  padding-top: 80px;
  padding-bottom: 20px;
  width: 100%;
  height: 100%;
  background-color: #e3eef7;
  text-align: center;
  font-weight: normal;
  font-family: sans-serif;
  font-size: 30px;
}

/*@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}*/

.collap {
  padding-right: 40px;
  padding-left: 40px;
  padding-bottom: 50px;
  padding-top: 50px;
  background-color: white;
  margin-left: 120px;
  margin-right: 120px;
  border: 5px solid #6997bc;
}

/*Responsive Styles*/
@media screen and (max-width : 800px){
    .asse {
      width: 100%;
    }
    .prep {
      padding: 0;
      margin-top: 10px;
      height: 100vh;
    }
    .prepX {
      padding: 0;
      margin-top: 10px;
      height: 100vh;
    }
    .prep1 {
      padding: 0;
      padding-left: 20px;
      padding-right: 20px;
    }
    .collap {
      padding: 0;
      margin: 0;
    }
}

