* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding-top: 0;
  background: #eee;
  font-family: sans-serif;
}

.container {
  position: relative;
  max-width: 800px;
  margin: 0 auto;
  background: #fff;
  border-radius: 3px;
}

@media (min-width: 769px) {
  .container {
    margin: 2.5rem auto;
  }
}

/* Result Component */
.result {
  padding: 1.5rem 2.5rem;
}

/* Quiz Component */
.answerOptions {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* QuestionCount Component */
.questionCount {
  padding: 1.5rem 2.5rem 0;
  font-size: 14px;
}

/* Question Component */
.question {
  margin: 0;
  padding: 0.5rem 2.5rem 1.5rem 2.5rem;
}

/* AnswerOption Component */
.answerOption {
  border-top: 1px solid #eee;
}

.answerOption:hover {
  background-color: #eefbfe;
}

.radioCustomButton {
    position: absolute;
    width: auto;
    opacity: 0;
}

.radioCustomButton,
.radioCustomLabel {
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
}

.radioCustomLabel {
    position: relative;
    width: 100%;
    margin: 0;
    padding: 1.5rem 2.5rem 1.5rem 5rem;
    font-size: 16px;
    line-height: 1.5;
}

.radioCustomButton ~ .radioCustomLabel:before {
    position: absolute;
    top: 20px;
    left: 38px;
    width: 28px;
    height: 28px;
    content: '';
    display: inline-block;
    vertical-align: middle;
    background: #fff;
    border: 1px solid #bbb;
    border-radius: 50%;
    transition: all 0.3s;
}

.radioCustomButton:checked ~ .radioCustomLabel:before {
    content: '';
    background: #8BC53F url(./svg/icon-check.svg) no-repeat;
    background-size: 27px;
    border-color: #8BC53F;
}

/* Animation */
.fade-enter {
    opacity: 0;
}

.fade-enter.fade-enter-active {
    opacity: 1;
    transition: opacity 0.5s ease-in-out 0.3s;
}

.fade-leave {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 1;
}

.fade-leave.fade-leave-active {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.fade-appear {
    opacity: 0;
}

.fade-appear.fade-appear-active {
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}

.button {
    position: relative;
    background-color: #19c589;
    border: none;
    float: right;
    font-size: 28px;
    color: #FFFFFF;
    padding: 20px;
    width: 200px;
    margin: 20px;
    text-align: center;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
}

.button:after {
    content: "";
    background: #f1f1f1;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px !important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
}

.button:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
}

.accordion {
    background-color: #095696;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    height: 100%;
    border: none;
    text-align: left;
    font-size: 20px;
    outline: none;
    transition: 0.4s;
}

.active, .accordion:hover {
    background-color: #3b92db;
}

.accordion:after {
    content: '\002B';
    color: white;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2212";
    color: white;
}

.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    font-family: sans-serif;
    font-weight: normal;
    font-size: 18px;
    text-align: left;
    overflow: auto;
    color: #437399;
    transition: max-height 0.2s ease-out;
}

.accordion1 {
    background-color: #095696;
    color: white;
    padding: 18px;
    width: 100%;
    height: 80px;
    height: 100%;
    border: none;
    text-align: left;
    font-size: 20px;
    outline: none;
    transition: 0.4s;
}

.panel1 {
    padding: 0 18px;
    background-color: white;
    font-family: sans-serif;
    font-weight: normal;
    font-size: 18px;
    text-align: left;
    overflow: auto;
    color: #437399;
    transition: max-height 0.2s ease-out;
}

.btn {
  position: relative;
  border: 2px solid black;
  border-radius: 5px;
  width: 100%;
  background-color: white;
  color: black;
  padding: 14px 28px;
  font-size: 16px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
}

/* Green */
.category {
  border-color: #19c589;
  color: green;
}

.category:hover {
  background-color: #19c589;
  color: white;
}

.topRowContainer {
  margin: 0;
  padding: 0;
}

.topRow {
  min-height: 20px;
  float: left;
  width: 25%;
  overflow: hidden;
  background-color: #14558F;
}

.topRow1 {
  min-height: 20px;
  float: left;
  width: 75%;
  overflow: hidden;
  background-color: #14558F;
}

/*Strip the ul of padding and list styling*/
.menu {
    list-style-type:none;
    margin:0;
    padding: 0;
    float: right;
    position: relative;
    display: inline-block;
}
/*Create a horizontal list with spacing*/
.lis {
    display:inline-block;
    float: left;
    margin-right: 10px;
}
/*Style for menu links*/
.lis a {
    display:block;
    min-width:140px;
    height: 79px;
    text-align: center;
    line-height: 79px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: normal;
    font-size: 14px;
    color: white;
    background: #0000;
    text-decoration: none;
    cursor: pointer;
}


/*Hover state for top level links*/
.lis:hover a {
  border-bottom: 3px solid #19c589;
}

.lis a.active {
  border-bottom: 3px solid #19c589;
}


/*Style 'show menu' label button and hide it by default*/
.show-menu {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-decoration: none;
    color: white;
    background: #19c589;
    text-align: center;
    padding: 10px 0;
    display: none;
    position: relative;
    cursor: pointer;
}
/*Hide checkbox*/
input[type=checkbox]{
    display: none;
}
/*Show menu when invisible checkbox is checked*/
input[type=checkbox]:checked ~ #menu{
    display: block;
}

.topDivH {
  float: left;
  text-align: left;
  color: white;
  font-family: sans-serif;
  font-size: 25px;
  font-weight: normal;
  padding-right: 1px;
}

.topDivHL {
  float: left;
  /*animation: App-logo-spin infinite 20s linear;*/
  height: 75px;
  width: 75px;
  padding: 10px;

}

.button1 {
    position: relative;
    background-color: #19c589;
    border: none;
    float: left;
    font-size: 23px;
    color: #FFFFFF;
    width: 150px;
    height: 50px;
    margin-left: 20px;
    text-align: center;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
}

.button1:after {
    content: "";
    background: #f1f1f1;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px !important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
}

.button1:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
}

.btn-group .button1:not(:last-child) {
    border-right: none; /* Prevent double borders */
}
.btn-group .button1:hover {
    background-color: #708090;
}


.btn-group .button1 {
    background-color: #19c589;
    border: 1px solid green;
    color: white;
    padding-right: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    cursor: pointer;
    align-items: center;
}



.ButBar {
  background-color: #eee;
  height: 100px;
  width: 100%;
}

.buttonContainer {
  padding-left: 15px;
}


.button2 {
    position: relative;
    background-color: #19c589;
    border: none;
    font-size: 18px;
    color: #FFFFFF;
    width: 200px;
    height: 50px;
    text-align: center;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
}

.button2:after {
    content: "";
    background: #f1f1f1;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px !important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
}

.button2:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
}

.Desc-Image {
  width: 100%;
  float: left;
}

.HomeHead {
  width: 40%;
  font-weight: normal;
  font-size: 50px;
  font-family: sans-serif;
  padding-left: 30px; 
  text-align: left;
  padding-top: 150px;
}

.HomeHead1 {
  width: 40%;
  font-weight: normal;
  font-size: 25px;
  font-family: sans-serif;
  text-align: left;
  padding-top: 0;
  padding-left: 35px;
}

.disc {
  padding-left: 370px;
  padding-right: 370px;
  font-weight: normal;
  font-size: 17px;
}

.Qquestions { 
  margin-top: 100px;
  padding-left: 25%;
  padding-right: 25%;
}

.toggle-box {
  display: none;
}

.toggle-box + label {
  cursor: pointer;
  display: block;
  font-weight: bold;
  line-height: 21px;
  margin-bottom: 5px;
}

.toggle-box + label + div.a {
  display: none;
  margin-bottom: 10px;
}

.toggle-box:checked + label + div.a {
  display: block;
}

.toggle-box + label + div.b {
  display: none;
  margin-bottom: 10px;
}

.toggle-box:checked + label + div.b {
  display: block;
}

.toggle-box + label + div.c {
  display: none;
  margin-bottom: 10px;
}

.toggle-box:checked + label + div.c {
  display: block;
}

.toggle-box + label + div.d {
  display: none;
  margin-bottom: 10px;
}

.toggle-box:checked + label + div.d {
  display: block;
}

.toggle-box + label + div.e {
  display: none;
  margin-bottom: 10px;
}

.toggle-box:checked + label + div.e {
  display: block;
}

.toggle-box + label + div.f {
  display: none;
  margin-bottom: 10px;
}

.toggle-box:checked + label + div.f {
  display: block;
}

.toggle-box + label + div.g {
  display: none;
  margin-bottom: 10px;
}

.toggle-box:checked + label + div.g {
  display: block;
}

.toggle-box + label + div.h {
  display: none;
  margin-bottom: 10px;
}

.toggle-box:checked + label + div.h {
  display: block;
}

.toggle-box + label:before {
  background-color: white;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  color: #437399;
  display: block;
  white-space: nowrap;
  content: "v Show More";
  float: left;
  font-weight: bold;
  height: 20px;
  line-height: 20px;
  margin-right: 5px;
  text-align: center;
  width: 20px;
}

.toggle-box:checked  + label:before {
  color: #437399;
  white-space: nowrap;
  content: "^ Show Less";
}


/*Responsive Styles*/
@media screen and (max-width : 1001px){
    /*Make dropdown links appear inline*/
    .menu {
        position: relative;
        display: none;
    }
    /*Create vertical spacing*/
    .lis {
        margin-bottom: 1px;
    }
    /*Make all menu links full width*/
    .lis, .lis a {
        width: 100%;
    }
    /*Display 'show menu' link*/
    .show-menu {
        display:block;
    }
    .topRow {
        width: 100%;
    }
    .topRow1 {
        width: 100%;
    }
    .HomeHead1 {
        width: 100%;
    }
    .ButBar {
        width: 100%;
    }
    .disc {
      width: 100%;
      padding: 0;
      margin-right: auto;
      margin-left: auto;
      display : block;
    }
    .Qquestions {
      padding: 0;
      width: 100%;
    }
}